In [2]:
import pandas as pd

In [7]:
M3=pd.read_excel("Modal-Views.xlsx")

# Data Description

In [8]:
M3.head

<bound method NDFrame.head of       Max for a title         SKU        ASIN  \
0                  52         NaN  B00Q8L89HQ
1                  19     980002T  B01E0ONGOI
2                1803      251648  B07FVYTYYV
3                2185   251848BLK  B07G7D6PYT
4                2192   251648BLK  B07GVPH7KF
...               ...         ...         ...
1318               93   84K547-28  B08TFZ71HQ
1319               98   84K547-28  B08TFZ71HQ
1320                1  741148LBLK  B08TGG358W
1321               48  741148LBLK  B08TGG358W
1322                6      88K848  B0947C47TX

                                                  Title  Len
0                         ORO-Tek (OTI-001B TPMS Sensor   29
1     Coyote Monkey Wrench - Telescoping Lug Wrench ...   70
2     Wheel Accessories Parts Set of 24 Chrome Spike...  152
3     Wheel Accessories Parts Set of 32 Black Spiked...  151
4     Wheel Accessories Parts Set of 24 Black Spiked...  151
...                                                 ...  ...
1318  Wheel Accessories Parts Set of 20 Chrome 12x1....  168
1319  Wheel Accessories Parts 20 PC Chrome 12x1.5 Co...  100
1320  Wheel Accessories Parts XL Wheel Locks Set Loc...  115
1321  Wheel Accessories Parts XL Wheel Locks Set Loc...  115
1322  Set of 32 M14x1.5 Chrome 0.84" 19mm (3/4") Hex...   80

[1323 rows x 5 columns]>

In [9]:
M3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1323 entries, 0 to 1322
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Max for a title  1323 non-null   int64
 1   SKU              1320 non-null   object
 2   ASIN             1323 non-null   object
 3   Title            1323 non-null   object
 4   Len              1323 non-null   int64
dtypes: int64(2), object(3)
memory usage: 51.8+ KB

In [10]:
M3.describe()

       Max for a title          Len
count      1323.000000  1323.000000
mean        108.798186   135.944067
std         292.449788    37.746987
min           0.000000     1.000000
25%           6.000000   112.000000
50%          23.000000   138.000000
75%          78.000000   162.000000
max        4633.000000   200.000000

## Meta Data

* SKU:Stock Keeping Unit
* ASIN:Amazon Standard Identification Number
* Max for a title: Maximum total number of clicks recived by the particular item with the given title at a time
* Title: Prouct name appears on amazon.com
* Len: Title length by character count

## Goal

We want to see if the listed productâ€™s title length effects the click count (AKA Views) by customer.

## Method

Linear modal or NLP